.register {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__inner {
    padding: 0 2rem 4rem 2rem;
    position: relative;
    max-width: 400px;
    width: 100%;
  }
  &__title {
    font-size: 3rem;
    color: black;
    margin: 0;
    margin: 0 0 2rem 0;
    display: block;
    text-align: center;
  }
  &__login {
    text-align: center;
    font-size: 1.8rem;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
}

