.add {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 0;
  form {
    width: 100%;
    position: relative;
  }
  input {
    width: 100%;
    padding: 1rem 10rem 1rem 1rem;
    font-size: 1.6rem;
    outline: none !important;
    :focus {
      outline: none;
    }
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    border: 0;
    background: black;
    color: white;
    text-align: center;
    height: 100%;
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
}